.container{
    margin:20px;
    padding: 20px;
    background-color: khaki;
}

.pic {
    margin: 10px;
    height: 350px;
    width: 350px;
}

.footer {
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: white;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightskyblue;
}

#p {
    <div class="badge badge-primary text-wrap" style="width: 6rem;">
  This text should wrap.
</div>
}