.container{
    width: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: turquoise;
    margin: 20px;
    margin-bottom: 200px;
    background-color: honeydew;
}

.pic {
    margin: 10px;
    height: auto;
    width: 95%;
}

.footer {
    color:whitesmoke;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: white;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cornflowerblue;
}

.navbar {
    color: navy;
    background-color: lightskyblue;
}

.navbar-brand {
    background-color: lightskyblue;
}

.nav-item {
    background-color: lightskyblue;
}

.navbar-togler {
    background-color: lightskyblue;
}