.container {
    margin:20px;
    padding: 20px;
    background-color: papayawhip;
}

.footer {
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: white;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightskyblue;
    
}

.navbar-brand {
    color: magenta;
    font-size:175%;
}