.container {
    border-width: 5px;
    border-style: solid;
    border-color: lightcoral;
    margin:20px;
    margin-bottom:200px;
    padding: 15px;
    padding-bottom: 25px;
    background-color: papayawhip;
}

.footer {
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: white;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightskyblue;
    
}

.navbar-brand {
    color: magenta;
    font-size:175%;
}

 .biopic {
     float: left;
     margin-right : 20px;
     width: 30%;
     height: auto;
 }