.container{
    font-family: 'Architects Daughter', cursive; 
    font-size: 20px;
    width: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: turquoise;
    margin: 20px;
    margin-bottom: 200px;
    background-color: honeydew;
}

.pic {
    border-width: 5px;
    border-style: solid;
    border-color: turquoise;
    margin: 10px;
    height: 80%;
    width: 95%;
}

.footer {
    font-family: 'Architects Daughter', cursive;
    color:whitesmoke;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: white;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cornflowerblue;
}

.navbar-brand {
    font-size: 200%;
    font-family: 'Architects Daughter', cursive;
}

.nav-item {
    font-size: 150%;
    font-family: 'Architects Daughter', cursive;
}
